<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<title>cart</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href={{url_for('home_page')}}>Home</a></li>
      <li><a href={{url_for('store_page')}}>Store</a></li>
      <li><a href={{url_for('about_page')}}>About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{{url_for('login_page')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>


<form action="/cart_page" method="GET">
	<img src={{p}} style="width:20%">
  		<h1>{{n}}</h1>
  		<p class="price">{{pr}}$</p>
  		<p>{{d}}</p>
</form>


<button>pay now</button>

</body>
</html>