<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="card">
  		<img src="https://amp.businessinsider.com/images/5849956cba6eb61b008b8256-750-562.jpg" alt="Denim Jeans" style="width:20%">
  		<h1>Pot</h1>
  		<p class="price">$19.99</p>
  		<p>The good stuff</p>
  		<p><button>Add to Cart</button></p>
</div>
<div class="card">
  		<img src="https://peopledotcom.files.wordpress.com/2019/04/mars-wrigley-candy-internship.jpg" alt="Denim Jeans" style="width:20%">
  		<h1>Eminem</h1>
  		<p class="price">$9.99</p>
  		<p>For munchies</p>
  		<p><button>Add to Cart</button></p>
</div>
<div class="card">
  		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQhaZEnJygfW2L6EhF-CcKND2jEZntWiAu4vay4IPBqYnCbUqta" alt="Katana" style="width:20%">
  		<h1>Katana</h1>
  		<p class="price">$299.99</p>
  		<p>For after munchies</p>
  		<p><button>Add to Cart</button></p>
</div>
	<a href="localhost:5000/"> Back to home </a>

</body>
</html>